body{
color: rgb(251, 252, 255);
background-color: rgb(251, 252, 255);

}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(204, 154, 214);
}

.cabecalho-imagem{
width: 120px;
height: 120px;
border-radius: 70%;
padding: 30px;

}

.cabecalho-menu-listaitem{
    color:rgb(0, 0, 0);
    display: inline;
    text-transform: uppercase;
    margin: 10px;
}

.sobre{
display: flex;
justify-content: center;
align-items: center;

}

.sobre_texto{
   background-color: rgb(0, 0, 0);
    padding: 40px;
}

.elementos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}
.elementos__div{
    text-align: center;
}
.elementos__imagem{
    width: 320px;
    height: 320px;
    border-radius: 60px;
}

