body{

background-color: rgb(128, 108, 108);





}

header{

display: flex;
justify-content: space-between;
background-color: rgb(165, 193, 193);
padding: 40px;

}

.cabecalho_menuitem{

display: inline;
text-transform: uppercase;
margin-left: 40px;




}

.cabecalho_imagem{

width:150px ;
height:300px ;
 border-radius:30% ;
    }