body{

    background-color: rgb(0, 217, 255);

}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

.cabecalho-imagem{
width: 200px;
height: 200px;
border-radius: 30%;
padding: 20px;

}

.cabecalho-menu-listaitem{

    display: inline;
    text-transform: uppercase;
    margin: 30px;
}

.sobre{
display: flex;
justify-content: center;
align-items: center;

}

.sobre_texto{

    padding: 40px;
}

.elementos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}
.elementos__div{
    text-align: center;
}
.elementos__imagem{
    width: 300px;
    height: 300px;
    border-radius: 20px;
}